<div class="container">
    <form role="search" class="form-inline" ng-submit="search()">
        <div class="input-group">
            <input type="text" ng-model="searchCriterias" class="form-control" placeholder="Search criterias goes here...">
            <span class="input-group-btn">
                
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </span>
        </div>
    </form>
    
    <p>&nbsp;</p>
    
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hit in hits">
                <td>{{hit._source.title}}</td>
                <td>{{hit._source.description}}</td>
                <td>{{hit._source.price}}</td>
            </tr>
        </tbody>
    </table>
</div>