<div class="container">
    <form role="search" class="form-inline" ng-submit="search()">
        <div class="input-group">
            <input type="text" ng-model="searchCriterias" class="form-control" placeholder="Search criterias goes here...">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Search">
            </span>
        </div>
    </form>
    
    <ul class="list-group">
        <li ng-repeat="hit in hits" class="list-group-item">
            <span class="text-primary">{{ 'Title: ' + hit._source.title + ', Description:' + hit._source.description + ', Price: ' + hit._source.price }}</span>
        </li>
    </ul>
</div>